@using EcommerceMVC.Models.DTO
@model CartViewModel

@{
    ViewData["Title"] = "Cart";
}

@if (Model.CartItems.Any())
{
    <section class="h-100 h-custom" style="margin-top: 4%;margin-bottom: 3%;min-height: 540px;">
        <div class="row d-flex h-100">
            <div class="col-lg-8">
                <div class="card" style="min-height: 540px;">
                    <div class="card-body p-4">
                        <div class="mb-4">
                            <p class="mb-1" style="color:black;"><b>Cart Details</b></p>
                            <p class="mb-0" style="color:black;">You have @Model.CartItems.Count() items in your cart</p>
                        </div>

                        @foreach (var item in Model.CartItems)
                        {
                            <div class="row mb-3">
                                <div class="col-md-2 col-sm-4">
                                    <img src="~/Images/products/@item.ProductImage" class="img-fluid rounded-3" alt="Shopping item">
                                </div>
                                <div class="col-md-7 col-sm-8">
                                    <h6 class="mb-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;color:black;">@item.ProductTitle</h6>
                                    <p class="small mb-1" style="color:black;">Color: @(item.Color != "-" ? item.Color : "-"), Size: @(item.Size != "-" ? item.Size : "-")</p>
                                    <p class="small mb-0" style="color:black;">Price: $@item.OrderPrice</p>
                                </div>
                                <div class="col-md-3 col-sm-12 d-flex justify-content-end align-items-center">
                                    <input class="orderQtyInput form-control mr-2" type="number" value="@item.OrderQty" data-product-id="@item.Product_id" data-cartitem-id="@item.Cartitem_id" data-stock-qty="@item.StockQty" style="width: 75px;">
                                    <button class="updateQtyBtn btn btn-sm btn-success mr-2">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button onclick="removeItem(@item.Product_id, @item.Cartitem_id)" class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Card details</h5>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="mb-0" style="color:white;">Subtotal</p>
                            <p class="mb-0" style="color:white;">$@Model.PaymentAmount</p>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="mb-0" style="color:white;">Shipping</p>
                            <p class="mb-0" style="color:white;">$@Model.Shipping</p>
                        </div>
                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-0" style="color:white;">Total</p>
                            <p class="mb-0" style="color:white;">$@Model.Total</p>
                        </div>
                        <a href="#" class="btn btn-light w-100" onclick="checkout()">
                            <span style="color:black;">Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section style="margin-top: 4%;margin-bottom: 3%;height: 540px;">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col">
                <div class="card" style="height: 540px;">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1" style="color:black;"><b>Cart Details</b></p>
                                        <p class="mb-0" style="color:black;">There are currently no items in your cart</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id="scrollToTopBtn">
    <span>&#8593;</span>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(document).ready(function () {
            $(".updateQtyBtn").on("click", function () {
                var orderQtyInput = $(this).siblings(".orderQtyInput");
                var orderQty = parseInt(orderQtyInput.val());
                var productId = orderQtyInput.data("product-id");
                var cartItemId = orderQtyInput.data("cartitem-id");
                var stockQty = parseInt(orderQtyInput.data("stock-qty"));

                updateQty(productId, cartItemId, stockQty, orderQty);
            });
        });

        function removeItem(productId, cartItemId) {
            $.ajax({
                type: "GET",
                url: "/User/RemoveItem",
                data: {
                    product_id: productId,
                    cartitem_id: cartItemId
                },
                success: function (response) {
                    window.location.href = '/User/Cart';
                    console.log("Item removed successfully");
                },
                error: function (xhr, status, error) {
                    console.error("Error removing item:", error);
                }
            });
        }

        function updateQty(productId, cartItemId, stockQty, orderQty) {
            $.ajax({
                type: "GET",
                url: "/User/UpdateQtyCartItem",
                data: {
                    orderQty: orderQty,
                    productId: productId,
                    cartItemId: cartItemId,
                    stockQty: stockQty
                },
                success: function (result) {
                    toastr.options.positionClass = 'toast-bottom-right';
                    if (result.error) {
                        toastr.error(result.error);
                    } else if (result.success) {
                        window.location.href = '/User/Cart';
                    }
                },
                error: function (xhr, status, error) {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.error('User is not authenticated.');
                }
            });
        }

        function checkout() {
            $.ajax({
                type: "GET",
                url: "/User/Checkout_Click",
                success: function (response) {
                    window.location.href = '/User/OrderDetail';
                    console.log("Checkout successful");
                },
                error: function (xhr, status, error) {
                    console.error("Error during checkout:", error);
                }
            });
        }
    </script>
}